//general styles
#bubble-map-holder {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

    .bubble, .bubble svg {
      position: absolute;
    }

    .bubble svg {
      font: 10px sans-serif;
    }

    .bubble circle {
      fill: brown;
      stroke: black;
      stroke-width: 1.5px;
    }
}

//large specific styles
&.large {
    #bubble-map-holder {
     	//...
    }
}

//medium specific styles
&.medium {
    #bubble-map-holder {
        //...
    }
}

//small specific styles
&.small {
    #bubble-map-holder {
        //...
    }
}