$clrMarker: #f84e67;
$clrMarkerStroke: darken($clrMarker, 50%);
$clrMarkerHover: darken($clrMarker, 20%);

.background {
  fill: #aef3fa;
  pointer-events: all;
}

.area {
    fill: transparent;
}

.land {
  fill: #fff;
  cursor: pointer;
}

.district {
    stroke: #eee;
    fill-opacity: .5
}

.district.hover {
  fill-opacity: 1;
}

.boundary {
  fill: none;
  stroke: #eee;
  stroke-linecap: round;
  stroke-linejoin: round;
}

//general styles
#bubble-map-info-display {
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
    height: 40px;
    background: rgba(255,255,255,.9);
    font-weight: bold;
}

.bubble-map-info-display-title {
    margin: 3px 0;
    font-size: 12px;
    font-weight: 400;
}

#bubble-map-holder {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: default;

    .bubble, .bubble svg {
      position: absolute;
    }

    .bubble circle {
      // fill: $clrMarker;
      stroke: $clrMarkerStroke;
      stroke-width: 1.5px;
    }

    .hover {
        position: relative;
        z-index: 5;
        fill: $clrMarkerHover;
        stroke: $clrMarkerHover;
    }

    .inner {
        fill: $clrMarkerHover;
        stroke-width: 0;
    }

    .inner1 {
        fill: white;
    }
}

.bubble-map-tooltip {
    position: absolute;
    z-index: 99999;
    background-color: #129dd5;
    border: 1px solid #074058;
    font-size: 11px;
    color: #fff;
    padding: 5px;

    &.hidden {
        display: none;
    }
}


//large specific styles
&.large {
    #bubble-map-holder {
     	//...
    }
}

//medium specific styles
&.medium {
    #bubble-map-holder {
        //...
    }
}

//small specific styles
&.small {
    #bubble-map-holder {
        //...
    }
}