#vzb-bar-rank-wrapper {
    @include absolute(0, 0, 0, 0);
    @include font-size(18px);
    padding-top: 50px;
    font-family: $fontFamily;
    color: #666;

    #vzb-bar-rank-chart-holder {
        position: absolute;
        left: 0;
        right: 0;
        top: 50px;
        bottom: 0;
        overflow: auto;
    }

    .vzb-bar-rank-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 50px;
        line-height: 50px;
        background: #fff;
        border-bottom: 1px solid #eee;
        box-shadow: 0 0 5px rgba(0,0,0,.1);
        z-index: 2;

        span {
            float: left;
        }

        span:first-letter {
            text-transform: capitalize;
        }

        .vzb-bar-rank-header-name {
            text-align: left;
        }
    }

    .vizabi-tool-viz {
        @include absolute(30px, 0, 0, 0);
    }

    .title {
        color: $colorIMmediumBlue;
        fill: currentColor;
    }

    .vzb-bar-rank-item {
        transition: opacity .1s ease-in;

        &.vzb-bar-rank-item-opaque {
            opacity: .2;
        }

        .vzb-bar-rank-item-bg, .vzb-bar-rank-item-bar-bg {
            fill: $colorWhite;
        }

        .vzb-bar-rank-item-bar {
            fill: $colorGreen;
            stroke: none;
        }

        &:nth-child(2n) .vzb-bar-rank-item-bar {
            fill: $colorRed;
        }
        &:nth-child(3n) .vzb-bar-rank-item-bar {
            fill: $colorBlue;
        }
    }

    .vzb-bar-rank-item-value {
        fill: $colorGrey;
    }
}

&.medium {
    #vzb-bar-rank-wrapper {
        @include font-size(15px);
        padding-top: 40px;

        #vzb-bar-rank-chart-holder {
            top: 40px;
        }

        .vzb-bar-rank-header {
            height: 40px;
            line-height: 40px;
        }
    }
}

&.small {
    #vzb-bar-rank-wrapper {
        @include font-size(12px);
        padding-top: 30px;

        #vzb-bar-rank-chart-holder {
            top: 30px;
        }

        .vzb-bar-rank-header {
            height: 30px;
            line-height: 30px;
        }
    }
}
